.head {
  background-color: #010101;
}
body {
  overflow-x: hidden;
}

.head-call {
  background-color: #212121;
}

.service {
  margin: 0px 75px;
}
.but:hover {
  color: red;
  background-color: #fff;
}

.but{
  color:white;
}

.sidebar-content {
  padding-top: 150px;
}
.sidebar-content p {
  font-size: 20px;
}

.sidebar-content h5 {
  padding-top: 50px;
  font-size: 25px;
}

.sidebar-content h3 {
  font-size: 48px;
}
.sidebar-content h4 {
  color: #da1e0e;
  font-size: 48px;
}
.disclaimer {
  font-size: 12px;
  font-family: montserrat-regular;
  text-align: justify !important;
}

.disclaimer span {
  font-weight: 700;
}
.terms a {
  color: rgb(200, 27, 27);
  font-size: larger;
}
.icon {
  background-color: #212121;
}
.arrow {
  fill: #fff;
}
.link-name:hover {
  color: #da1e0e;
}
.social-logo {
  width: 20px;
  height: 20px;
}

.anchor {
  color: black;
}
.anchor:hover {
  color: red;
}

.MotorCycle {
  background-color: #181818;
}
.high {
  color: #c93b2b;
}
.backgroundColor {
  background-color: #212121;
}

.imgbg:hover {
  background-color: #181818;
}

.demo {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(https://images.thequint.com/thequint%2F2016-03%2F8772da12-9abb-4340-85aa-65a807e15b0b%2FHero.jpg?auto=format%2Ccompress&fmt=webp&width=720&w=1200);
  background-size: cover;
}
.login {
  height: 30vh;
}
.value::placeholder {
  color: white;
}

.value {
  background: transparent;
  border: 3px solid white;
  color: white;
  font-size: 20px;
  outline: none;
}
.forgot {
  color: white;
}
.forgot:hover {
  color: red;
}
.gender {
  padding-left: 110px;
}
input[type="checkbox"] {
  transform: scale(2);
}
input[type="radio"] {
  transform: scale(1.5);
}
.otp {
  width: 100px;
  height: 42px;
  font-size: 20px;
}
.call {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url(https://www.team-bhp.com/forum/attachments/motorbikes/1488085d1458455797-royal-enfield-himalayan-thread-royalenfieldthehimalayanmotorcycletestingvideos5.jpg);
}
.img-bg1 {
  background-image: url("./Assets/Home/image1.avif");
  background-repeat: no-repeat;
  background-size: cover;

}
.img-bg2 {
  background-image: url("./Assets/Home/image2.avif");
  background-repeat: no-repeat;
  background-size: cover;

}
.img-bg3 {
  background-image: url("./Assets/Home/image3.avif");
  background-repeat: no-repeat;
  background-size:cover;
}
.home {
  min-height: 100vh;
}
.main-div{
  background-color: rgba(0, 0, 0, 0.6);
}

