.head {
  background-color: #010101;
}
body {
  overflow-x: hidden;
}

.head-call {
  background-color: #212121;
}

.service {
  margin: 0px 75px;
}
.but:hover {
  color: red;
  background-color: #fff;
}

.f-arrow {
  width: 15px;
  height: 15px;
  margin-bottom: 2px;
  margin-left: 5px;
}

.f-arrow:hover {
  fill: red;
}

.but {
  color: rgb(245, 243, 243);
  background-color: transparent;
  border: 1px solid white;
  margin-bottom: 20px;
  font-size: 20px;
}

.sidebar-content {
  padding-top: 150px;
}
.sidebar-content p {
  font-size: 20px;
}

.sidebar-content h5 {
  padding-top: 50px;
  font-size: 25px;
}

.sidebar-content h3 {
  font-size: 48px;
}
.sidebar-content h4 {
  color: #da1e0e;
  font-size: 48px;
}
.disclaimer {
  font-size: 12px;
  font-family: montserrat-regular;
  text-align: justify !important;
}

.disclaimer span {
  font-weight: 700;
}
.terms a {
  color: rgb(200, 27, 27);
  font-size: larger;
}
.icon {
  background-color: #212121;
}
.arrow {
  fill: #fff;
}
.link-name:hover {
  color: #da1e0e;
}
.social-logo {
  width: 20px;
  height: 20px;
}

.anchor {
  color: black;
}
.anchor:hover {
  color: red;
}

.MotorCycle {
  background-color: #181818;
}
.high {
  color: #da291c;
}

.backgroundColor {
  background-color: #212121;
}

.imgbg:hover {
  background-color: #181818;
  cursor: pointer;
}

.demo {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(https://images.thequint.com/thequint%2F2016-03%2F8772da12-9abb-4340-85aa-65a807e15b0b%2FHero.jpg?auto=format%2Ccompress&fmt=webp&width=720&w=1200);
  background-size: cover;
}
.login {
  height: 30vh;
}
.value::placeholder {
  color: white;
}

.value {
  background: transparent;
  border: 3px solid white;
  color: white;
  font-size: 20px;
  outline: none;
}
.forgot {
  color: white;
}
.forgot:hover {
  color: red;
}
.gender {
  padding-left: 110px;
}
input[type="checkbox"] {
  transform: scale(2);
}
input[type="radio"] {
  transform: scale(1.5);
}

.otp {
  background-color: #e7746b;
  color: #ffffff;
  width: 60px;
  height: 42px;
  font-size: 20px;
  outline: none;
  border: none;
  padding-bottom: 3px;
}

.otp-email {
  color: #ffffff;
  width: 70px;
  height: 42px;
  font-size: 30px;
  outline: none;
  border: none;
  padding-bottom: 3px;
  border: 1px solid white;
}

.otp-after {
  background-color: #da291c;
  color: #ffffff;
  width: 60px;
  height: 42px;
  font-size: 20px;
  outline: none;
  border: none;
  padding-bottom: 3px;
}

.out-mobile {
  outline: none;
  width: 85%;
}

.call {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url(https://www.team-bhp.com/forum/attachments/motorbikes/1488085d1458455797-royal-enfield-himalayan-thread-royalenfieldthehimalayanmotorcycletestingvideos5.jpg);
}
.call-sup {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url(https://www.royalenfield.com/content/dam/royal-enfield/india/locate-us/landing/service-centre.jpg);
}

.img-bg1 {
  background-image: url("./Assets/Home/image1.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
}

.img-bg1:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./Assets//Home//image1.avif");
}

.img-bg2 {
  background-image: url("./Assets/Home/image2.avif");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
}
.img-bg2:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./Assets//Home//image2.avif");
  cursor: pointer;
}
.img-bg3 {
  background-image: url("./Assets/Home/image3.avif");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
}
.img-bg3:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./Assets//Home//image3.avif");
}
.home {
  height: 90vh;
}
.main-div {
  background-color: rgba(0, 0, 0, 0.7);
}

.my-nav {
  color: white;
}
.my-nav:hover {
  color: #da1e0e;
}
.model {
  background-color: #282828;
}
.cal-bg {
  background-color: #181818;
}
.list {
  list-style-type: none;
}
.dropdown-select {
  width: 300px;
  margin: 20px 0px 20px 50px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  font-size: 20px;
}

.options {
  color: #181818;
  background-color: transparent;
}
.bs-highlight {
  cursor: pointer;
}

.bs-highlight:hover {
  color: #da1e0e;
}

.cal {
  border: 5px solid #c93b2b;
  background-color: #501610;
  color: white;
}

.cal:hover {
  font-weight: bold;
}
.sub-text {
  color: #949494;
}
.edit-button {
  color: #948440;
  letter-spacing: 1px;
}

.discliamer {
  font-size: 12px;
}
.out {
  outline: none;
}
.mobile-otp {
  width: 40px;
  height: 30px;
  outline: none;
  border: none;
  margin-left: 40px;
  margin-bottom: 10px;
  background-color: transparent;
  border-bottom: 2px solid red;
  color: red;
}
.adventure {
  background-image: url("./Assets/Rides/2.avif");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 30px;
}

.training {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./Assets/Rides/4.avif");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin-left: 300px;
  border-radius: 30px;
}
.discovery {
  background-image: url("./Assets/Rides/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 30px;
}
.rides {
  background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/rides/ride-listing/adventure/adventure-listing-new.jpg");
  height: 300px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.Himalayan {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/rides/ride-listing/adventure/desktop/himalayan-odyssey-2023.jpg");
  height: 150px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.changthang {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 150px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/rides/ride-listing/adventure/desktop/wolf-trail.jpg");
}
.Zanskar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 150px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/rides/ride-listing/adventure/desktop/himalayan-badlands-zanskar.jpg");
}
.white-out {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 150px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/rides/ride-listing/adventure/desktop/white-out.jpg");
}
.Eye1 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 200px;
  width: 300px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/rides/ride-listing/adventure/desktop/eye-of-the-condor.jpg");
}
.Eye2 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 200px;
  width: 300px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/rides/ride-listing/adventure/desktop/red-dust-adventure.jpg");
}
.Eye3 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 200px;
  width: 300px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/rides/ride-listing/adventure/desktop/high-atlas.jpg");
}
.Eye4 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 200px;
  width: 300px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/rides/ride-listing/adventure/desktop/high-atlas.jpg");
}
.north-east {
  background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/rides/ride-listing/discovery/desktop/uncover-northeast.jpg");
}
.on-ride {
  background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/rides/ride-listing/discovery/desktop/one-ride-2023.jpg");
}
.wave-runner {
  background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/rides/ride-listing/adventure/desktop/wave-runner.jpg");
}
.cosmic {
  background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/rides/ride-listing/discovery/desktop/cosmic-caravan-roK.jpg");
}
.my-discovery {
  height: 300px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/rides/ride-listing/discovery/discovery-listing-new.jpg");
}
.training-bg {
  height: 400px;
  width: 750px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://www.royalenfield.com/content/dam/royal-enfield/india/rides/ride-listing/training/training-listing.jpg");
}
.trail-1 {
  height: 400px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/rides/ride-listing/training/desktop/royal-enfield-trail-school-new.jpg");
}
.trail-2 {
  height: 400px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/rides/ride-listing/training/desktop/trail-school-level-2.jpg");
}
.gallery {
  background-color: black;
}
.gallery-row-1-1 {
  border-radius: 10px;
  height: 400px;
  width: 360px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/rides/ride-listing/gallery/gallery-7.jpg");
}
.gallery-row-1-2 {
  border-radius: 10px;
  height: 400px;
  width: 360px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/rides/ride-listing/gallery/gallery-2.jpg");
}
.gallery-row-2-1 {
  border-radius: 10px;
  height: 400px;
  width: 360px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/rides/ride-listing/gallery/gallery-3.jpg");
}
.gallery-row-2-2 {
  border-radius: 10px;
  height: 400px;
  width: 360px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/rides/ride-listing/gallery/gallery-4.jpg");
}
.gallery-row-3-1 {
  border-radius: 10px;
  height: 400px;
  width: 360px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/rides/ride-listing/gallery/gallery-5.jpg");
}
.gallery-row-3-2 {
  border-radius: 10px;
  height: 400px;
  width: 360px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/rides/ride-listing/gallery/gallery-6.jpg");
}
.stay-tuned {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRTbHLOSMsz6obuXsKp9KJJ3cmST9PMImaP9mwIbK32Qh_CW0Mx");
}
.form-update {
  background-color: #212121;
}
.input-form {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  margin-top: 30px;
  padding-bottom: 10px;
  font-weight: bold;
  color: white;
  padding-left: 15px;
}

.code {
  width: 50px;
}
.verify {
  background-color: transparent;
  color: red;
  outline: none;
  border: none;
  font-size: 20px;
}
.form-disclaimer {
  font-size: 12px;
  padding-top: 20px;
}
.checkbox-form {
  background-color: transparent;
  width: 8px;
}
.stay-updated {
  background-color: transparent;
  outline: none;
  border: 2px solid red;
}

.stay-updated:hover {
  background-color: #d51904;
  color: white;
  border: 2px solid black;
}

.motor-garage-btn {
  background-color: transparent;
  outline: none;
  border: 1px solid white;
}
.service-div {
  height: 300px;
}
.motor-input {
  background-color: transparent;
  outline: none;
  border: 1px solid white;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.add {
  height: 40px;
  color: white;
}

.add:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}
.re-direct {
  color: white;
}

.re-direct:hover {
  color: red;
}
.user {
  color: #ce271b;
}
.log-out {
  background-color: transparent;
  border: 1px solid white;
  color: red;
}
.log-out:hover {
  background-color: red;
  border: 1px solid rgb(237, 161, 20);
  color: white;
}
.status {
  color: green;
}
.submit {
  color: white;
  border: 1px solid white;
  background-color: transparent;
}
.submit:hover {
  background-color: #d51904;
  color: white;
  border: 1px solid red;
}

textarea {
  width: 700px;
  height: 100px;
}
.sub {
  color: white;
}
.login-form {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.login-form:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
